@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: hanken grotesk;
}

section{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

section .init{
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
    border-radius: 6%;
    color: white;
    width: 368px;
    height: 515px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

section .title{
    font-size: 30px;
    margin-bottom: 60px;
}

section .circle{
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

section .circle span{
    font-size: 10px;
    color: rgb(155, 161, 165);
}

section .init h1{
    margin-top: 20px;
}

section .init #text{
    color: rgb(205, 211, 214);
}

section .summary{
    background-color: rgb(253, 253, 253);
    border-radius: 6%;
    width: 368px;
    height: 515px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}